<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona1</title>
</head>
<body>
    <h1> Bienvenido  La fecha actual es: {{ fecha }}</h1>
    <h2> NOMBRE: {{ nombre1 }}</h2>
    <h2> APELLIDO: {{ apellido1 }}</h2>
    <h2> EDAD: {{ edad1 }}</h2>

    <h2> NOMBRE: {{ nombre2 }}</h2>
    <h2> APELLIDO: {{ apellido2 }}</h2>
    <h2> EDAD: {{ edad2 }}</h2>

    <h2> NOMBRE: {{ nombre3 }}</h2>
    <h2> APELLIDO: {{ apellido3 }}</h2>
    <h2> EDAD: {{ edad3 }}</h2>
    
</body>
</html>